@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 10%;
    --foreground: 45 100% 96%;

    --card: 0 0% 13%;
    --card-foreground: 45 100% 96%;

    --popover: 0 0% 13%;
    --popover-foreground: 45 100% 96%;

    /* Doré */
    --primary: 45 100% 60%;
    --primary-foreground: 0 0% 10%;

    --secondary: 0 0% 15%;
    --secondary-foreground: 45 100% 96%;

    --muted: 0 0% 15%;
    --muted-foreground: 45 30% 80%;

    --accent: 45 100% 50%;
    --accent-foreground: 0 0% 10%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 45 100% 96%;

    --border: 45 30% 30%;
    --input: 45 30% 30%;
    --ring: 45 100% 60%;

    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 10%;
    --foreground: 45 100% 96%;

    --card: 0 0% 13%;
    --card-foreground: 45 100% 96%;

    --popover: 0 0% 13%;
    --popover-foreground: 45 100% 96%;

    /* Doré */
    --primary: 45 100% 60%;
    --primary-foreground: 0 0% 10%;

    --secondary: 0 0% 15%;
    --secondary-foreground: 45 100% 96%;

    --muted: 0 0% 15%;
    --muted-foreground: 45 30% 80%;

    --accent: 45 100% 50%;
    --accent-foreground: 0 0% 10%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 45 100% 96%;

    --border: 45 30% 30%;
    --input: 45 30% 30%;
    --ring: 45 100% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
